.additional-products {
  padding-top: 71px;
  padding-right: 20px;
  padding-left: 20px;

  .section-title {
    position: relative;
    padding-left: 0;
    padding-right: 0;

    &--medium {
      margin-bottom: 30px;
    }

     &:before {
      position: absolute;
      right: -20px;
      top: 12px;
      width: 53px;
      height: 3px;
      background-color: #68b738;
      content: "";
    }
  }
}

.additional-products__gift {
  position: relative;
  min-height: 289px;
  background-image: url("../img//gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  svg {
    position: absolute;
    top: 65px;
    left: 113px;
  }
}

.additional-products__gift-text {
  width: 159px;
  margin: 0 auto;
  padding-top: 190px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

@media @tablet-width {

  .additional-products {
    margin-bottom: 69px;
    padding-right: 0;
    padding-left: 0;

    .section-title {
      position: relative;
      display: inline-block;
      padding: 0 37px;
      background-color: #ffffff;

      &--medium {
        margin-bottom: 30px;
      }

      &:after {
        position: absolute;
        left: -30px;
        top: 16.5px;
        width: 30px;
        height: 3px;
        background-color: #68b738;
        content: "";
      }

      &:before {
        position: absolute;
        left: 100%;
        top: 16.5px;
        width: calc(768px - 37px);
        height: 3px;
        background-color: #68b738;
        content: "";
      }
    }
  }

  .additional-products__gift {
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }

  .additional-products__gift-text {
    padding-top: 75px;
    margin-left: 426px;
  }
}

@media @desktop-width {

  .additional-products {
    width: 100%;

    .section-title {
      padding-left: 0;

      &:after {
        position: absolute;
        left: -110px;
        top: 16.5px;
        width: 80px;
        height: 3px;
        background-color: #68b738;
        content: "";
      }

      &:before {
        position: absolute;
        left: 100%;
        top: 16.5px;
        width: 957px;
        height: 3px;
        background-color: #68b738;
        content: "";
      }
    }
  }
  .additional-products__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .additional-products__gift {
    width: 245px;
    min-height: 281px;
    background-image: url("../img/gift-photo-mobile@1x.jpg");

     svg {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .additional-products__gift-text {
    padding-top: 190px;
    margin: 0 auto;
  }
}






