
.before-after__image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;

}

.before-after__slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.before-after__slider-label
 {
  input[type="radio"] {
    display: none;
  }

  label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: @text-color-second;
    text-transform: uppercase;
  }
 }

.before-after__scale {
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  margin-left: 18px;
  margin-right: 18px;
}

.before-after__toggle {
  width: 35px;
  height: 6px;
  margin-top: 4px;
  margin-left: 6px;
  border-radius: 3px;
  background-color: #68b738;
}


@media @tablet-width {

  .before-after__image {
    img {
      width: 677px;
    }
  }
  .before-after__scale {
    position: relative;
    width: 428px;
    border-radius: 3px;
    background-color: #dcdcdc;
    height: 6px;
  }

  .before-after__toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    margin: 0;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      width: 8px;
      height: 8px;
      background-color: #68b738;
      border-radius: 50%;
    }

    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border-width: 2px;
      border-color: #68b738;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    }
  }

  .before-after__slider-label {
    font-size: 20px;
    line-height: 20px;
  }
}

@media @desktop-width {
  .before-after {
    position: relative;
    width: 610px;
  }

  .before-after__image {
    position: absolute;
    bottom: 0;
  }
}
