.before-after__image {
  margin-bottom: 35px;
}

.before-after__scale {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.before-after__scale-label
 {
  input[type="radio"] {
    display: none;
  }

  label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: ;
    text-transform: uppercase;
    color: @text-color-second;
  }
 }

.before-after__toggle {
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  margin-left: 18px;
  margin-right: 18px;
}

.before-after__control {
  width: 35px;
  height: 6px;
  margin-top: 4px;
  margin-left: 6px;
  border-radius: 3px;
  background-color: #68b738;
}
