.catalog__gift {
  position: relative;
  min-height: 289px;
  background-image: url("/img/gift-photo-mobile.jpg");

  svg {
    position: absolute;
    top: 65px;
    left: 113px;
  }
}

.catalog__gift-text {
  width: 159px;
  margin: 0 auto;
  padding-top: 190px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
