.categories-item {
  margin-bottom: 20px;
  padding: 22px 20px;
  background-color:  #f2f2f2;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }
}

.categories-item__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.categories-item__icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #68b738;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img[alt="Набор массы"] {
    width: 67px;
    height: 28px;
  }
}

.categories-item__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: @text-color-second;
  text-transform: uppercase;
}

.categories-item__content {
  padding-bottom: 23px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dadada;
}

.categories-item__footer {
  a {
    font-family: @font-family;
    font-size: 16px;
    line-height: 16px;
    color: @text-color-second;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }
}


@media @tablet-width {
  .categories-item {
    position: relative;
    padding-top: 81px;
    padding-left: 52px;
    padding-right: 62px;
    padding-bottom: 62px;
  }

  .categories-item__title {
    font-size: 36px;
    line-height: 37px;
  }

  .categories-item__content {
    width: 371px;
    border-bottom: 0;
  }

  .categories-item__footer {
    a {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .categories-item__icon {
    position: absolute;
    top: 50%;
    right: 62px;
    width: 200px;
    height: 200px;
    transform: translateY(-50%);

    img {
      width: 140px;
      height: 194px;
    }
  }
}
