.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;

  &--opened {
    .menu__item {
      &:first-child {
        order: 0;
      }
    }
  }

  &--closed {
    .menu__item {
      &:first-child {
        order: 3;
      }
    }
  }
}

.menu__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 65px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  box-sizing: border-box;

  &:first-child {
    padding: 0 20px;
    justify-content: space-between;
  }

  &--hidden {
    display: none;
  }
}

.menu__link {
  font-size: 20px;
  line-height: 20px;
  font-family: @font-family;
  text-transform: uppercase;
  text-decoration: none;
  color: @text-color-second;
}

.menu__toggle {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &--opened {
    width: 18px;
    height: 18px;

    svg {
      &:first-child {
        display: none;
      }

      &:nth-child(2) {
        display: block;
      }
    }
  }

  &--closed {
    width: 24px;
    height: 18px;

    svg {
      &:first-child {
        display: block;
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }
}


@media @tablet-width {
  .menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }

  .menu__toggle {
    display: none;
  }

  .menu__item {
    border-bottom: 0;
  }

  .menu__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #222222;
  }
}



