.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}

@media @tablet-width {
  .page-header {
    padding-top: 24px;
    margin-bottom: 66px;
  }
}

@media @desktop-width {
  .page-header {
    padding: 54px 110px;
    padding-bottom: 0;
    margin-bottom: 83px;
  }
}
