.product {
  position: relative;
  padding: 25px 20px;
  border-bottom: 1px solid #ededed;

  &:first-child {
    border-top: 1px solid #ededed;
  }

  &--additional {
    padding-top: 14px;
    padding-bottom: 17px;
    padding-left: 0;
    padding-right: 0;

    .product__name,
    .product__description {
      margin-left: 0;
    }

    .product__description {
      margin-bottom: 16px;
    }
  }
}

.product__image {
  position: absolute;
  width: 140px;
  height: 144px;
}

.product__name,
.product__description {
  margin-left: 140px;
}

.product__name {
  margin-bottom: 18px;
}

.product__link {
  font-family: @font-family;
  font-size: 16px;
  line-height: 20px;
  color: @text-color-second;
  text-decoration: none;
  text-transform: uppercase;
}

.product__description {
  margin-bottom: 54px;
}

.product__property-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.product__property {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @text-color-base;
}

.product__property {
  &:last-child {
    .product__property-value {
      text-transform: uppercase;
    }
  }
}

@media @tablet-width {
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 324px;
    padding: 165px 37px 39px 37px;
    margin-bottom: 140px;
    background-color: #f2f2f2;
    box-sizing: border-box;

    &:nth-child(7) {
      margin-bottom: 0;
    }

    &--additional {
      width: 100%;
      padding: 28px 37px 28px 37px;
      margin-bottom: -1px;
      border: 1px solid #cdcdcd;
      background-color: #ffffff;

      .product__name {
        align-self: flex-start;
      }

      .product__property {
        border-bottom: 0;
      }
    }
  }

  .product__image {
    top: -46px;
    left: 50%;
    transform: translateX(-50%);

    &--big {
      width: 195px;
      height: 208px;
    }
  }

  .product {
    &:nth-child(even) {
      .product__image {
        top: -85px;
      }
    }
  }

  .product__name,
  .product__description {
    margin-left: 0;
  }

  .product__link {
    font-size: 20px;
    line-height: 20px;
  }

  .product__description {
    width: 100%;
  }

  .product__property {
    padding: 10px 0;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #cdcdcd;
  }
}

@media @desktop-width {
  .product {
    width: 245px;

    &:nth-child(5),
    &:nth-child(6) {
      margin-bottom: 0;
    }

    &--additional {
      width: 895px;
      min-height: 71px;
      padding: 0;
      margin-bottom: -1px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-left: 0;
      border-right: 0;

      .product__name,
      .product__description {
        margin-bottom: 0;
      }

      .product__name {
        width: 245px;
        align-self: center;
      }

      .product__description {
        width: 285px;
      }
    }
  }

}

