.program-selection-form {
  width: 280px;
  padding: 0;
  margin: 0;
}

.program-selection-form__block {
  max-width: 280px;
  padding: 23px 0;
  margin: 0;
  border: 0;
}

.program-selection-form__control {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  max-width: 280px;

  &:last-child {
    margin-bottom: 0;
  }
}

.program-selection-form__label,
.program-selection-form__input {
  margin-right: 16px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 400;
}

.program-selection-form__input {
  flex-grow: 1;
  padding: 15px;
  margin-right: 0;
  color: #444444;
  outline: none;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  box-sizing: border-box;
}

.program-selection-form__block {
  &:first-child {
    .program-selection-form__input {
       width: 172px;
    }
  }

  &:nth-child(2) {

    .program-selection-form__control {
      margin-bottom: 26px;
    }
  }

  &:nth-child(3) {
    .program-selection-form__input {
      width: 196px;
    }
  }

  &:nth-child(5) {
    .program-selection-form__control {
      margin-bottom: 28px;
    }

    .program-selection-form__label {
      margin-left: 46px;
    }
  }
}

.program-selection-form__radio {
  display: none;
}

.program-selection-form__radio + .program-selection-form__label {
  position: relative;
  margin-left: 46px;
  cursor: pointer;

  &:before {
    position: absolute;
    left: -46px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    border-radius: 50%;
    content: "";
  }
  &:after {
    display: none;
    position: absolute;
    left: -36px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: #68b738;
    border-radius: 50%;
    content: "";
  }
}

.program-selection-form__radio:checked + .program-selection-form__label {
  &:after {
    display: block;
  }
}

.program-selection-form__block-title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.program-selection-form__textarea {
  width: 280px;
  padding: 15px;
  box-sizing: border-box;
  text-transform: uppercase;
  resize: none;
}

.program-selection-form__checkbox {
  display: none;
}

.program-selection-form__checkbox + .program-selection-form__label {
  position: relative;
  cursor: pointer;

  &:before {
    position: absolute;
    left: -46px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    content: "";
  }

  &:after {
    display: none;
    position: absolute;
    left: -31px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transform-origin: 0 100%;
    width: 20px;
    height: 14px;
    border: 2px solid #68b738;
    border-right: 0;
    border-top: 0;
    content: "";
  }
}

.program-selection-form__checkbox:checked + .program-selection-form__label {
  &:after {
    display: block;
  }
}

.program-selection-form__btn {
  font-size: 16px;
  line-height: 20px;
  outline: none;
  border: none;
}

.program-selection-form__legend {
  font-size: 14px;
  line-height: 16px;
  color: @text-color-base;
}
