.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 62px;
  border-bottom: 1px solid #dadada;
}

.social-links__link {
  text-decoration: none;
  margin-right: 29px;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  &--facebook {
    margin-right: 0;

    svg {
      width: 10px;
      height: 19px;
    }
  }

  &--instagram {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &--vk {

    svg {
      width: 22px;
      height: 12px;
    }
  }
}

@media @tablet-width {
  .social-links {
    border-bottom: 0;
  }


  .social-links__link {

    &--facebook {
      margin-right: 0;

      svg {
        width: 14px;
        height: 28px;
      }
    }

    &--instagram {
      svg {
        width: 23px;
        height: 23px;
      }
    }

    &--vk {
      svg {
        width: 30px;
        height: 16px;
      }
    }
  }
}
